<% let isHome=pageId==="home" %>
    <header id="js-header" class="<%= isHome ? " l-header p-header" : "l-header p-header p-header--sub" %>">
        <div class="l-container p-header__container">
            <div class="p-header__inner">
                <% if (isHome) { %>
                    <h1 class="p-header__logo c-logo">
                        <%= meta.global.title; %>
                    </h1>
                    <% } else { %>
                        <p class="p-header__logo c-logo">
                            <a href="<%= meta.local.home.slug; %>">
                                <%= meta.global.title; %>
                            </a>
                        </p>
                        <% } %>

                            <nav class="p-header__nav p-gnav">
                                <ul class="p-gnav__items">
                                    <% for (let key in meta.local) { %>
                                        <% if (key!=="home" ) { %>
                                            <% if (key===pageId) { %>
                                                <li class="is-current">
                                                    <%= meta.local[key].title; %>
                                                </li>
                                                <% } else { %>
                                                    <li>
                                                        <a href="<%= meta.local[key].slug; %>">
                                                            <%= meta.local[key].title; %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                                </ul>
                            </nav>
            </div>
        </div>
    </header>