<% let title=pageId==='home' ? meta.global.title : meta.local[pageId].title + ' | ' + meta.global.title %>
  <% let description=meta.local[pageId].description %>

    <!DOCTYPE html>
    <html lang="ja">

    <head
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= meta.local[pageId].og_type %>: http://ogp.me/ns/<%= meta.local[pageId].og_type %>#">
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="format-detection" content="telephone=no" />
      <title>
        <%= title %>
      </title>
      <!-- SEO -->
      <meta name="description" content="<%= description %>" />
      <!-- OGP -->
      <meta property="og:url" content="<%= meta.global.site_url + meta.local[pageId].slug %>" />
      <meta property="og:type" content="<%= meta.local[pageId].og_type %>" />
      <meta property="og:title" content="<%= title %>" />
      <meta property="og:description" content="<%= description %>" />
      <meta property="og:site_name" content="<%= meta.global.title %>" />
      <meta property="og:image" content="<%= meta.local[pageId].og_image %>" />
      <meta name="twitter:card" content="カード種類" />
      <meta name="twitter:site" content="@ツイッターユーザー名" />
      <!-- タッチアイコン -->
      <!-- <link rel="apple-touch-icon" sizes="192x192" href=""> -->
      <!-- <link rel="shortcut icon" sizes="192x192" href=""> -->
      <!-- ファビコン -->
      <!-- <link rel="icon" href=""> -->
      <!-- クローラー -->
      <meta name="robots" content="noindex, nofollow" />
      <!-- style.css -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- hoge.css -->
      <link rel="stylesheet" href="/css/hoge.css">
    </head>

    <body>